{% extends 'base/master.html' %}
{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}
{% block body_content %}
<div class="row">
    <div class="col-md-12">
        <div id="login" class="shadow-container">
            <h3>Sign In</h3>
            <hr/>
            <form method="POST" action="{% url 'account_login' %}" id="id_login_form">
                <p class="text-muted text-center">Enter your username and password</p>
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div>
                    <button class="btn btn-lg btn-primary btn-block submit">Sign in</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
<style type="text/css">
    #id_login_form {
        max-width: 400px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .shadow-container {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;
      padding: 20px 20px 40px 20px !important;
    }
    .errorlist {
        list-style-type: none;
        color: red;
    }
</style>
{% endblock body_content %}

{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}
