{% extends 'base/master.html' %}
{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}
{% block body_content %}
<div class="row">
    <div class="col-md-12">
        <div class="shadow-container">
            <h3>Create Account</h3>
            <hr/>
            <form method="POST" action="{% url 'account_signup' %}" id="id_signup_form">
            <p class="text-muted text-center">Please fill up the form</p>
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div>
                <button class="btn btn-lg btn-primary btn-block submit">Sign up</button>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
              <p class="change_link">Already a member ?
                <a href="{{ login_url }}" class="to_register"> Log in </a>
              </p>
            </div>
        </form>
        </div>
    </div>
</div>
<style type="text/css">
    #id_signup_form {
        max-width: 400px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .shadow-container {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;
      padding: 20px 20px 40px 20px !important;
    }
</style>
{% endblock body_content %}

{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
{% endblock %}